<?xml version="1.0" encoding="iso-8859-1"?>
<events>
  <event id="1">
    <title>DO NOT DELETE</title>
    <date>DO NOT DELETE</date>
    <time>DO NOT DELETE</time>
    <location>DO NOT DELETE</location>
    <fee>DO NOT DELETE</fee>
    <extra>DO NOT DELETE</extra>
  </event>
  <event id="30">
    <title>Pure Worship</title>
    <date>2014-09-24</date>
    <time>02:33 to 03:44</time>
    <location>Unspecified</location>
    <fee>Unspecified</fee>
    <extra>None</extra>
  </event>
</events>
